<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class=" bg-zinc-900 min-h-screen text-white justify-center items-center flex " >
    <div class="w-full  bg-zinc-800 rounded-lg max-w-md p-8" >
        <p class="text-4xl mb-5">login your  account</p>
        <form action="/login" method="post">
            <!-- <input class="px-3 py-3 w-full rounded-md bg-zinc-700 transparent mb-5" placeholder="username" name="username" type="text"> -->
            <input class="px-3 py-3 w-full rounded-md bg-zinc-700 transparent mb-5" placeholder="email" name="email" type="email">
            <input class="px-3 py-3 w-full rounded-md bg-zinc-700 transparent mb-5" placeholder="phone number" name="number" type="text">
            <input class="px-3 py-3 w-full rounded-md bg-zinc-700 transparent mb-5" placeholder="password" name="password" type="password">
            <input class="px-6 py-3 rounded-md bg-blue-800 " placeholder="" value="submit" type="submit">
        </form>
    </div>
</body>
</html>